{% load tz %}
{% load skitour_filters %}

{% if error %}
    <div class="error">
        <span class="error-msg">{{error.msg}}:</span> <span class="error-log">{{error.error}}</span>
    </div>
{% else %}
<div class="container">
<h2 class="fs-3 lead">Conditions neige autour de {{domain.name}}</h2>
{% include "skitour/stats.html" %}
{% for date, mountains in conditions %}
    {% if not forloop.first%}<div class="divider-1"></div>{% endif %}
    <h3 class="lead">{% timezone "Europe/Paris" %}{{date|ts_2_date}}{% endtimezone %}</h3>
    {% for m, sorties in mountains.items %}

    <div class="row p-2 mb-2 rounded-3 text-center text-md-start">
        <div class="col-md-2 col-12 lead">{{m}}</div>
        <div class="col-md-10 col-12">
            {% for s in sorties %}
                <div class="rounded-3 p-2 list-hover">
                    <a href="https://skitour.fr/sorties/{{s.id}}" target="_blank">
                        {% if s.summits %}
                            <b>{{s.summits|summits}}{% if s.orientation%} [{{s.orientation}}]{% endif %}</b>
                        {% else %}
                            <b>{{s.title|safe}}{% if s.orientation%} [{{s.orientation}}]{% endif %}</b>
                        {% endif %}
                    </a>
                    <span class="mx-1"></span>
                    <span class="ski-skiability text-nowrap" title="Skiabilité: {{s.skiability}}">{{s.skiability|skiability}}</span>
                    {% if s.altitudes|altitudes %}
                        <span class="mx-1"></span>
                        <span class="text-nowrap" title="Départ / Arrivée">{{s.altitudes|altitudes}}</span>
                    {% endif %}
                    <span class="mx-1"></span>
                    <a class="author" href="https://skitour.fr/membres/{{s.author.id}}" target="_blank">@{{s.author.pseudo}}</a>
                    <div class="ski-condition-clamp">
                    {% if s.conditions.avalanche%}
                        <span title="Activité avalancheuse">{{s.conditions.avalanche|avalanche|safe|linebreaksbr}}</span>
                    {% endif %}
                    {% if s.conditions.chaussage%}
                        <span title="Altitude de chaussage/déchaussage"><i class="fa-solid fa-person-skiing-nordic"></i> {{s.conditions.chaussage|safe|linebreaksbr}}</span>
                    {% endif %}
                    {% if s.conditions.meteo%}
                        <span title="Météo/températures"><i class="fa-solid fa-cloud-sun"></i> {{s.conditions.meteo|linebreaksbr}}</span>
                    {% endif %}
                    {% if s.conditions.ski %}
                        <div title="Conditions pour le ski">
                            <i class="fa-solid fa-person-skiing"></i> <i>{{s.conditions.ski|safe|linebreaksbr}}</i>
                            {% if s.snow%}
                            <div class="ms-4 ski-snow-conditions">
                                {% for snow in s.snow %}
                                <i class="fa-solid fa-mountain"></i> {{snow.alt}}m <i class="fa-solid fa-snowflake"></i> {{snow.qte}}
                                {% if snow.type %} (<i>{{snow.type}}</i>){% endif %}
                                {% if snow.lieu %} - <i>{{snow.lieu}}</i>{% endif %}
                                <br>
                                {% endfor %}
                            </div>
                            {% endif %}
                        </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
{% endfor %}
    <div class="divider-1"></div>
    <div class="text-start">
        Merci à {{authors|authors}} pour avoir rentré leurs sorties dans <a href="skitour.fr" target="_blank">skitour.fr</a>.
    </div>
</div>
{% endif %}
