{% load skitour_filters %}

{% if mountains|length %}
    <div class="mb-4">
        <table class="table skiability table-sm table-striped table-hover">
            <thead>
            <tr>
                <td scope="col"></td>
                <td scope="col"></td>
                <td scope="col" colspan="4">Skiabilité</td>
            </tr>
            <tr>
                <th scope="col"><i class="fa-solid fa-mountain"></i></th>
                <th scope="col"><i class="fa-solid fa-hill-avalanche"></i></th>
                    {% for o in orientations %}
                        <th scope="col">{{o}}</th>
                    {% endfor %}
            </tr>
            </thead>
            <tbody>
                {% for m, mountain in mountains.items %}
                    <tr>
                        <td class="align-middle" scope="row">{{mountain.name}}</td>
                        <td class="align-middle" scope="row">
                            <a href="#" class="bra-modal-trigger" data-key="{{m}}">
                                <img class="bra-risk" src="{{mountain.risk_icon}}">
                            </a>
                        </td>
                        {% for o in orientations %}
                            <td class="align-middle" scope="col">{{mountain.ratings|mountain_ratings:o}}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% for m, mountain in mountains.items %}
        {% include "bra/modal.html" %}
    {% endfor %}
{% endif %}