{% load tz %}
{% load skitour_filters %}

<div class="container">
    <div class="row">
        <div class="col-md-8 col-12">
            <div class="row d-flex">
                <div class="col-12 text-md-start">
                    <h4><a href="{{bra.pdf.url}}" target="_blank">BRA - {{bra.name}}</a></h4>
                </div>
                <div class="col-12 text-md-start"><b>Départs spontanés</b> {{bra.comment_nat}}</div>
            </div>
            <div class="row d-flex">
                <div class="col-12 text-md-start"><b>Déclenchements</b> {{bra.comment_acc}}</div>
            </div>
        </div>
        <div class="col-md-4 col-12 mt-2 d-flex justify-content-center align-items-center">
            <img class="p-2 img-fluid" src="{{bra.get_risk_max_icon}}">
        </div>
    </div>
    <div class="divider-1"></div>
    <img class="img-fluid mx-2" src="/media/bra/xml/rose_pentes_{{bra.meteofrance_id}}.png">
    <img class="img-fluid mx-2" src="/media/bra/xml/montagne_risques_{{bra.meteofrance_id}}.png">
    <div class="divider-1"></div>
    <img class="img-fluid" src="/media/bra/xml/montagne_enneigement_{{bra.meteofrance_id}}.png">
    <div class="divider-1"></div>
    <div class="col-12">{{bra.snow_quality}}</div>
    <div class="divider-1"></div>
    <div class="text-start">
        {% timezone "Europe/Paris" %}
            <u>Rédigé</u> le {{bra.date|ts_2_date:"bra"}}<br />
            <u>Valable</u> jusqu'au {{bra.validity|ts_2_date:"bra"}}<br />
        {% endtimezone %}
        <a href="{{bra.get_pdf_url}}" target="_blank">Bulletin complet - {{bra.name}} - Météo France</a>
    </div>
</div>
