{% if error %}
    <div class="error">
        <span class="error-msg">{{error.msg}}:</span> <span class="error-log">{{error.error}}</span>
    </div>
{% else %}
    {% for bra in bras %}
        {% if not forloop.first%}<div class="divider-2 m-4"></div>{% endif %}
        {% include "bra/bra.html" %}
    {% endfor %}
{% endif %}