
  <!-- Modal -->
  <div class="modal fade modal-bra" id="bra-modal-{{m}}" tabindex="-1" aria-labelledby="modal-bra-label-{{m}}" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header" id="modal-bra-content-{{m}}">
          <h5 class="modal-title" id="modal-bra-label-{{m}}">Massif : {{mountain.name}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="inject-bra-{{m}}" data-mid="{{m}}">
        </div>
        <div class="modal-footer">
            Sources: <a href="https://meteofrance.com" target="_blank">Météo France</a>
          {% comment %} <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> {% endcomment %}
        </div>
      </div>
    </div>
  </div>
