<!doctype html>
{% load static %}
{% load i18n %}

<html lang="fr-FR">
<head>

  <meta charset="UTF-8">
  <meta name="description" content="La cuvette | conditions neige des quatres massifs Grenoblois">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href='{% static "base.css" %}'>
  <link rel="stylesheet" type="text/css" href='{% static "skitour.css" %}'>
  <link rel="stylesheet" type="text/css" href='{% static "fontawesome/all.min.css" %}'>

  <link rel="icon" href="/media/skitour.ico" />
  <title>La Cuvette | conditions neige</title>

</head>
<body>

    <h1 class="visually-hidden">La Cuvette | conditions neige</h1>

    <button
      type="button"
      class="btn btn-danger btn-floating btn-lg"
      id="btn-back-to-top"
    >
      <i class="fas fa-arrow-up"></i>
    </button>

    <div class="container">
      <header class="d-flex flex-wrap justify-content-center py-3">
        <a href="{% url "index" %}" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
          <i class="fa-solid fa-mountain-city me-2"></i>
          <span class="fs-4">Ça pose dans la cuvette&nbsp;!</span>
        </a>

        <ul class="nav nav-pills">
          {% for domain in domains %}
          <li class="nav-item p-1"><a href="#" class="nav-link" data-did={{domain.pk}}>{{domain.name}}</a></li>
          {% endfor %}
          <li class="nav-item p-1"><a href="#" class="nav-link" data-did=0>BRA</a></li>
        </ul>
      </header>
    </div>

    <div class="divider-2"></div>

    <main>
      <div id="skitour" class="container px-4 py-4 text-center">
        <div id="inject-skitour" data-did="1"></div>
      </div>
    </main>

    <div class="divider-2"></div>

    <div class="container">
      <footer class="d-flex flex-wrap justify-content-between align-items-center py-3">

        <p class="col-md-4 mb-0 text-muted">Contact:
          <a rel="me" href="https://mastodon.social/@overjoyed" title="Mastodon" target="_blank">
            <tt>@overjoyed<span class="mastodon-server">@mastodon.social</span></tt>
          </a>
        </p>

        <a href="{% url "index" %}" class="col-md-4 d-none d-md-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
          <i class="fa-solid fa-mountain-city"></i>
        </a>

        <p class="col-md-4 mb-0 text-muted text-end">Sources:
          <a href="https://skitour.fr" target="_blank">Skitour</a> -
          <a href="https://meteofrance.com" target="_blank">Météo&nbsp;France</a>
        </p>
      </footer>
    </div>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
  <script src="{% static "fontawesome/all.min.js" %}" crossorigin="anonymous"></script>
  <script src="{% static "utilities.js" %}"></script>
  <script src="{% static "skitour.js" %}"></script>

</body>
</html>
