/* dividers */
.divider-1 {
  height: 1px;
  margin: 1.5rem 0;
  background-color: rgba(0, 0, 0, .1);
}

.divider-2 {
  height: 1rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}


/* list-hover */
.list-hover {
  border: solid 1px;
  border-color: rgba(0, 0, 0, 0);
}
.list-hover:hover {
  border-color: #adbfcf;
}
.list-hover-flash {
  animation: flashbg 1s;
}

@keyframes flashbg{
  0%		{ background-color: #adbfcf00;}
  50%		{ background-color: #adbfcfff;}
  100%	{ background-color: #adbfcf00;}
}

/* navigation */

.nav-pills .nav-link.nav-active {
  /* color: #FFF !important; */
  text-decoration: none;
  border: solid 1px #46557d;
  background-color: transparent !important;
}

.nav-pills .nav-link:hover,
.nav-pills .nav-link.nav-active:hover {
  color: #FFF !important;
  text-decoration: none;
  background-color: #46557d !important;
}

/* error */
.error {
  font-weight: bold;
  color: rgb(255, 81, 0)
}
.error-log {
  font-style: italic;
  text-transform: lowercase;
}

/* vertical align header text */
span.header-text {
  line-height: 36px;
}

span.header-text > span {
  display: inline-block;
  vertical-align: middle;
  line-height: 1em;
}


/* FROM BS EXEMPLES */
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

/* headers */
.form-control-dark {
  color: #fff;
  background-color: var(--bs-dark);
  border-color: var(--bs-gray);
}

.form-control-dark:focus {
  color: #fff;
  background-color: var(--bs-dark);
  border-color: #fff;
  box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.text-small {
  font-size: 85%;
}

.dropdown-toggle {
  outline: 0;
}


/* footer */
.bi {
  vertical-align: -.125em;
  fill: currentColor;
}


/* features */
.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.feature-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  margin-bottom: 1rem;
  font-size: 2rem;
  color: #fff;
  border-radius: .75rem;
}

.icon-link {
  display: inline-flex;
  align-items: center;
}

.icon-link>.bi {
  margin-top: .125rem;
  margin-left: .125rem;
  transition: transform .25s ease-in-out;
  fill: currentColor;
}

.icon-link:hover>.bi {
  transform: translate(.25rem);
}

.icon-square {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  font-size: 1.5rem;
  border-radius: .1rem;
}

.rounded-4 {
  border-radius: .5rem;
}

.rounded-5 {
  border-radius: 1rem;
}

.text-shadow-1 {
  text-shadow: 0 .125rem .25rem rgba(0, 0, 0, .25);
}

.text-shadow-2 {
  text-shadow: 0 .25rem .5rem rgba(0, 0, 0, .25);
}

.text-shadow-3 {
  text-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .25);
}

.card-cover {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

/* button back to top */
#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  z-index: 1;
}