/* general */
a {
  color: #46557d !important;
  text-decoration: none;
}

a:hover {
  color: #283048 !important;
  text-decoration: underline;
}

.mastodon-server {
  color: #6c757d;
}

span.header-text > span {
  color: #373941;
  font-style: italic;
}

/* table */
table.skiability {
  color: #373941;
}

.ski-snow-conditions,
.ski-skiability {
  color: #373941;
}

.ski-condition-clamp {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
}

.ski-clamped {
  background: linear-gradient(#373941ff, #373941ff 50%, #37394100);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.avalanche-ras {
  color: #6c757d;
}
/* * > span.avalanche-ras {
  -webkit-text-fill-color: #6c757d;
} */
.avalanche-not-ras {
  color: #a71d47;
}
/* * > span.avalanche-not-ras {
  -webkit-text-fill-color: #a71d47;
} */


img.bra-risk {
  border-radius: 0.5rem;
  border: solid 1px #b0b1b4;
}

img.bra-risk:hover {
  box-shadow: 0 .05rem .15rem rgba(0, 0, 0, .5) !important;
}

ul.bra-list li:hover {
  background: #b0b1b4;
}
ul.bra-list li {
  list-style: none;
}